{
  "plugins": ["transform-react-constant-elements"],
  "env": {
    "development": {
      "plugins": [
        "add-react-displayname",
        "glamorous-displayname",
        "transform-react-jsx-self"
      ],
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    },
    "test": {
      "presets": [["env", { "modules": "commonjs" }], "next/babel"]
    }
  }
}
